*{
  margin: 0;
  padding: 0;
}
.landing_page{
  background-image: url("../images/backgrounds/h_img.jpg");
  height: auto;
  width: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding-top: 180px;
}
.mouse{
  padding-top: 70px;
  padding-bottom: 50px;
}

.about{
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.serv{
  background-image: url("../img/backgrounds/s_image.jpg");
  height: auto;
  width: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}
.servicons {
  padding: 50px;
}

.profile{
  text-align: center;
  padding-right: 50px;
}
.des{
  padding-top: 20px;
  text-align: center;
}
.dev{
  padding-top: 20px;
  text-align: center;
}
.pm{
  padding-top: 20px;
  text-align: center;
}

.design, .development, .pmanagement {
  display: none;
}
.portfolio{
  text-align: center;
}
.portimg{
  height: 230px;
  width: auto;
  padding: 10px;
}
